@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --black-color: #222222;
  --gray-color: #DEE6EF;
  --blue-color: #005CFE;
  --white-color: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.progress-radial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 160px;
  height: 160px;
  border-radius: 100%;
  background: conic-gradient(var(--blue-color) var(--progress), var(--gray-color) 0deg);
}

.progress-radial::before {
  content: '';
  position: absolute;
  width: 135px;
  height: 135px;
  background: var(--white-color);
  border-radius: 100%;
}

.progress-value {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  color: var(--black-color);
}
