@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --black-color: #222222;
  --gray-color: #DEE6EF;
  --blue-color: #005CFE;
  --white-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 568px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 16px;
}

.card__title {
  font-weight: 600;
}

.card__content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

.card__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: conic-gradient(var(--blue-color) var(--progress), var(--gray-color) 0deg);
}

.card__progress::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--white-color);
  border-radius: 100%;
}

.card__controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__control {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.control__value {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48px;
  height: 30px;
  border: 1.5px solid var(--black-color);
  border-radius: 100px;
  font-weight: 500;
}

.control__value::-webkit-outer-spin-button,
.control__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.control__label {
  font-weight: 500;
}

.toggle {
  position: relative;
  box-sizing: border-box;
}

.toggle input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.toggle label:before {
  content: '';
  width: 48px;
  height: 32px;
  background: var(--gray-color);
  position: relative;
  display: inline-block;
  border-radius: 46px;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.toggle label:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: var(--white-color);
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.toggle input[type='checkbox']:checked + label:before {
  background: var(--blue-color);
}

.toggle input[type='checkbox']:checked + label:after {
  left: 19px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.card__progress--animated {
  animation: spin 2s linear infinite;
}

.card__progress--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}